<main class="container">
  <h1>Medved messenger</h1>
  <p>Click the button below to start chating</p>

  <% if user_signed_in? %>
    <%= link_to "View messages", quotes_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>