.btn {
  display: inline-block;
  padding: var(--space-m) var(--space-m);
  border-radius: var(--border-radius);
  border-width: 0;
  font-weight: bold;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  //cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐾</text></svg>") 16 0,auto;
  cursor: url("paw-print-cartoon-style4.svg") 16 0,auto;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: var(--font-size-l);

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
    transform: translateY(2px);
  }

  &--icon {
    padding: var(--space-xxxs);

    &:hover {
      background-color: hsl(0, 1%, 85%);
    }
  }

  &--primary {
    opacity: 0.7;
    color: Chocolate;
    background-color: var(--color-light);

    &:hover {
      opacity: 1.0;
      filter: saturate(0.7);
    }

    &:focus,
    &:focus-within,
    &:active {
      transform: translateY(2px);
      box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px var(--color-light);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));

    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      background: #8BD26A;
      box-shadow: inset 26px 26px 52px #71aa56, inset -26px -26px 52px #a5fa7e;
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:active {
      box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px var(--color-light);
    }
  }

  &--dark {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:active {
      box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px var(--color-light);
    }
  }

}

.icon {
  fill: Chocolate;
  width: 40px;
  height: 40px;
}