.quote {
  min-height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__text {
    display: inline-flex;
    flex-grow: 8;
  }

  &__actions {
    visibility: hidden;
    display: inline-flex;
    flex: 0 0 auto;
    align-self: center;
    gap: var(--space-xs);
  }

  &__hidden {
    display: none;
  }

  &--mine {
    margin-left: 100px;
    background-color: var(--color-secondary);
    &:hover > div {
      visibility: visible;
    }
  }

  &--his {
    margin-right: 100px;
    background-color: var(--color-tertiary);
  }

}

